.case-study-container {
  .texture-pull-right {
    right: -45%;
    @include bp(1400) {
      right: -40%;
    }
  }
  .case-study-title {
    font-size: 3.5rem;
    color: var(--primary-color);
  }
  .case-study-info-lockup {
    .credit {
      margin-left: 3rem;
      * {
        margin-bottom: 0;
        font-weight: 500;
      }
      h5 {
        color: var(--primary-color);
      }
      h6 {
        color: var(--secondary-color);
      }
      &:first-child {
        margin-left: 0;
      }
    }
    .right-col {
      display: flex;
      flex-direction: column;
      overflow: visible;
      @include bp(1200) {
        padding-left: 4rem;
      }
      img {
        max-width: 120%;
      }
    }
  }
  .case-study-problem {
    margin-bottom: 3rem;
  }
  .subhead {
    color: var(--secondary-color);
    font-weight: 500;
  }
  .case-study-deliverables {
    margin-top: -10vh;
    margin-left: 4rem;
  }
  .deliverables-list {
    li {
      position: relative;
      list-style: none;
      margin-left: 1rem;
      margin-bottom: 0;
      &:before {
        position: absolute;
        content: "";
        display: inline-block;
        top: 0.85rem;
        left: -1rem;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: var(--secondary-color);
      }
    }
  }
  .case-study-images {
    img {
      width: 100%;
    }
    padding-bottom: 5vh;
  }
}
