.case-study-container {
  .texture-pull-left {
    left: -64%;
    @include bp(768) {
      display: none;
    }
  }
  /*   .texture-pull-right {
    right: -45%;
    @include bp(1400) {
      right: -40%;
    }
  } */
  .case-study-content {
    padding-top: 7rem;
    @include bp(1024) {
      padding-top: 10rem;
    }
  }
  .intro-text-lockup {
    margin-top: -3rem;
    @include bp(768) {
      margin-top: -6rem;
    }
    @include bp(1024) {
      margin-top: 0;
    }
  }
  .case-study-title {
    font-size: 2.5rem;
    @include bp(768) {
      font-size: 2.75rem;
    }
    @include bp(1200) {
    }
    @include bp(1400) {
      font-size: 3.5rem;
    }
    color: var(--primary-color);
  }
  .case-study-info-lockup {
    display: flex;
    @include bpMax(1023) {
      flex-direction: column-reverse;
    }
    .credit {
      margin-left: 3rem;
      * {
        margin-bottom: 0;
        font-weight: 500;
      }
      h5 {
        color: var(--primary-color);
      }
      h6 {
        color: var(--secondary-color);
      }
      &:first-child {
        margin-left: 0;
      }
    }
    .right-col {
      display: flex;
      flex-direction: column;
      overflow: visible;
      @include bp(1200) {
        padding-left: 4rem;
      }
      img {
        max-width: 120%;
      }
      .case-study-deliverables {
        display: none;
        @include bp(1024) {
          display: inline-block;
          margin-top: -10vh;
          margin-left: 4rem;
        }
      }
    }
  }
  .intro-text {
    > * {
      margin-bottom: 3rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .case-study-deliverables {
      @include bp(1024) {
        display: none;
      }
    }
  }
  .subhead {
    color: var(--secondary-color);
    font-weight: 500;
  }

  .deliverables-list {
    li {
      position: relative;
      list-style: none;
      margin-left: 1rem;
      margin-bottom: 0;
      &:before {
        position: absolute;
        content: "";
        display: inline-block;
        top: 0.85rem;
        left: -1rem;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: var(--secondary-color);
      }
    }
  }
  .case-study-images {
    img {
      width: 100%;
    }
    padding-bottom: 5vh;
  }
}

.work-back-container {
  .texture-wrapper.parallax {
    top: -70%;
  }
}
