.contact.page-wrapper {
  .intro-text-lockup {
    margin-bottom: 60px;
  }
}

.contacts-container {
  display: inline-flex;
  flex-wrap: wrap;
  row-gap: 2rem;
  justify-content: space-between;
  @include bp(1024) {
    display: inline-block;
  }
  .contacts-item {
    flex-basis: 100%;
    @include bp(768) {
      flex-basis: 46%;
    }
    @include bp(1024) {
      flex-basis: 100%;
    }
  }
}

.contacts-item {
  @include bp(1024) {
    margin-bottom: 2rem;
  }
  p,
  li,
  a {
    color: #000;
    list-style: none;
  }
  a:hover {
    color: var(--secondary-color);
  }
}
