.contact.page-wrapper {
  .intro-text-lockup {
    margin-bottom: 60px;
  }
}

.contacts-item {
  margin-bottom: 2rem;
  p,
  li,
  a {
    color: #000;
    font-size: 1.125rem;
    list-style: none;
  }
  a:hover {
    color: var(--secondary-color);
  }
}
