.join-cta-container {
  .section-hero-image-wrapper {
    @include bp(1024) {
      @include clip-edge(left, 70vh);
      height: 70vh;
      width: 40%;
      left: 60%;
    }
  }
}
.icon-list-container.values {
  .icon-lockup {
    display: flex;
    flex-direction: row;
    transition-delay: 0;
  }
  .icon-lockup-icon {
    flex-shrink: 0;
  }
  .icon-lockup-text {
    padding: 0 2rem;
  }
}

.values-container {
  .texture-pull-right {
    right: -40%;
  }
}
