.partners-container {
  .texture-pull-left {
    background-color: var(--secondary-color);
  }
  .texture-pull-right {
    background-color: var(--primary-color);
  }
}
.partners-content {
  .list-item-logo {
    @include bp(1024) {
      margin-top: 0.5rem;
    }
    img {
      @include bp(768) {
        width: 160px;
      }
      @include bp(1200) {
        width: 180px;
      }
      @include bp(1600) {
        width: 200px;
      }
    }
  }
}
