.wwd-services {
  .texture-pull-left {
    background-color: var(--secondary-color);
  }
  .texture-pull-right {
    background-color: var(--primary-color);
  }

  .services-cta-container {
    @include reveal-slide-up-fade();
  }
  .callout {
    color: var(--primary-color);
  }
}

.services-cta-btn-container {
  @include bp(1024) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
