.case-studies-container {
  .texture-pull-right {
    right: -5%;
    @include clip-edge($edge: left, $height: 250vh);
    height: 250vh;
  }
}

.project-details-lockup {
  margin-top: 2rem;
  .client-name {
    color: var(--primary-color);
  }
  .project-title {
    color: var(--secondary-color);
  }
}
.project-hero-image-container {
  img {
    width: 115%;
  }
}
