.case-studies-container {
  .texture-pull-right {
    right: -5%;
    @include clip-edge($edge: left, $height: 250vh);
    height: 250vh;
  }
}

.horizontal-list-lockup {
  display: flex;
  flex-direction: column-reverse;
  @include bp(1024) {
    flex-direction: row;
  }
}

.project-details-lockup {
  margin-top: -3rem;
  @include bp(1024) {
    margin-top: 0;
    padding-top: 2rem;
  }
  .client-name {
    color: var(--primary-color);
  }
  .project-title {
    color: var(--secondary-color);
  }
}
.project-hero-image-container {
  @include bpMax(1023) {
    margin-left: -0.5rem;
  }
  img {
    width: 115%;
  }
}
