@mixin section-container(
  $flex: column,
  $justify: flex-start,
  $align: flex-start
) {
  position: relative;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: $flex;
  align-items: $align;
  justify-content: $justify;
  overflow: hidden;
  height: var(--section-height, auto);
}

@mixin footer-padding() {
  padding: 1rem;

  @include bp(1024) {
    padding: 2rem 0 10px 5%;
  }
  @include bp(1200) {
    padding: 3rem 0 10px 7%;
  }
  @include bp(1400) {
    padding: 4rem 0 20px 10%;
  }
}
@mixin min-padding() {
  padding: 1rem;

  @include bp(1024) {
    padding: 2rem 5%;
  }
  @include bp(1200) {
    padding: 3rem 7%;
  }
  @include bp(1400) {
    padding: 4rem 10%;
  }
}
@mixin standard-padding() {
  padding: 1rem;

  @include bp(1024) {
    padding: 5vh 5%;
  }
  @include bp(1200) {
    padding: 12vh 7%;
  }
  @include bp(1400) {
    padding: 12vh 10%;
  }
}
@mixin extra-padding() {
  padding: 60px 1rem;
  @include bp(768) {
    padding: 60px;
  }
  @include bp(1024) {
    padding: 7vh 5%;
  }
  @include bp(1200) {
    padding: 12vh 7%;
  }
  @include bp(1400) {
    padding: 20vh 10%;
  }
}

@mixin content-block(
  $padding: 0,
  $flex: column,
  $justify: flex-start,
  $align: flex-start
) {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: $flex;
  align-items: $align;
  justify-content: $justify;
  @if $padding== "standard" {
    @include standard-padding();
  }
  @if $padding== "extra" {
    @include extra-padding();
  }
}
