:root {
  --dark-blue: #00304d;
  --teal: #039fa0;
  --dark-teal: #00787c;
  --bright-green: #c8c143;
  --violet: #71266c;
  --dark-orange: #e23d2a;
  --anthracite: #212a33;
  --slate: #477e9f;
  --midnight: #000846;
  --brown: #b05120;
  // ==========================================================================
  // Textures
  // ==========================================================================
  --tex-beehive: url("~/assets/tex-beehive.jpg") repeat 0/130px;
  --tex-fossil: url("~/assets/tex-fossil.jpg") repeat 0/175px;
  --tex-fusion: url("~/assets/tex-fusion.jpg") repeat 0/300px;
  --tex-cells: url("~/assets/tex-cells.jpg") repeat 0/180px;
  --tex-circuit: url("~/assets/tex-circuit.jpg") repeat 0/150px;
  --tex-herringbone: url("~/assets/tex-herringbone.jpg") repeat 0/300px;
  --tex-leaf: url("~/assets/tex-leaf.jpg") repeat 0/130px;
  --tex-waves: url("~/assets/tex-waves.jpg") repeat 0/120px;
  //
  // ==========================================================================

  --tex-beehive-lrg: url("~/assets/tex-beehive.jpg") repeat 0/130px;
  --tex-fossil-lrg: url("~/assets/tex-fossil.jpg") repeat 0/175px;
  --tex-fusion-lrg: url("~/assets/tex-fusion.jpg") repeat 0/300px;
  --tex-cells-lrg: url("~/assets/tex-cells.jpg") repeat 0/180px;
  --tex-circuit-lrg: url("~/assets/tex-circuit.jpg") repeat 0/150px;
  --tex-herringbone-lrg: url("~/assets/tex-herringbone.jpg") repeat 0/300px;
  --tex-leaf-lrg: url("~/assets/tex-leaf.jpg") repeat 0/130px;
  --tex-waves-lrg: url("~/assets/tex-waves.jpg") repeat 0/120px;

  // ==========================================================================
  // Larger res tex
  // ==========================================================================
  /*   --tex-beehive-lrg: url("~/assets/tex-beehive-lrg.jpg") repeat 0/540px auto;
  --tex-fossil-lrg: url("~/assets/tex-fossil-lrg.jpg") repeat 0/480px auto;
  --tex-fusion-lrg: url("~/assets/tex-fusion-lrg.jpg") repeat 0/600px auto;
  --tex-cells-lrg: url("~/assets/tex-cells-lrg.jpg") repeat 0/480px auto;
  --tex-circuit-lrg: url("~/assets/tex-circuit-lrg.jpg") repeat 0/400px auto;
  --tex-herringbone-lrg: url("~/assets/tex-herringbone-lrg.jpg") repeat 0/640px
    auto;
  --tex-leaf-lrg: url("~/assets/tex-leaf-lrg.jpg") repeat 0/540px auto;
  --tex-waves-lrg: url("~/assets/tex-waves-lrg.jpg") repeat 0/480px; */

  // ==========================================================================
  --default-texture: var(--tex-beehive);
  --bg-texture: var(--default-texture);
  --default-primary: var(--dark-blue);
  --default-secondary: var(--teal);
  --primary-color: var(--default-primary);
  --secondary-color: var(--default-secondary);
}

body {
  width: 100%;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
html {
  height: -webkit-fill-available;
}

// trying svg mask. No perf improvements
/* #clipping-mask {
  position: absolute;
  display: hidden;
  width: 100%;
} */
.page-wrapper {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.page-inner-wrapper {
  max-width: 100%;
}

.section-container {
  @include section-container();
  &.full-color {
    background-color: var(--primary-color);
    color: #fff;
  }
  &.xl-align-c {
    @include bp(2400) {
      align-items: center;
    }
  }
  &.xl-justify-c {
    @include bp(2400) {
      justify-content: center;
    }
  }
}

.page-hero-container {
  @include section-container();
  height: 100vh;
  background-color: var(--primary-color);
  color: #fff;
  .texture-pull-right {
    position: absolute;
    right: -30%;
    top: 0;
    @include clip-edge($edge: left, $height: 100vh);
    width: 50%;
    height: 100vh;
    background-color: var(--secondary-color);
  }
  > .inner-texture {
    opacity: 0.5;
  }
  &.x2-h {
    flex-direction: column;
    min-height: 200vh;
    .texture-pull-right {
      position: absolute;
      right: -20%;
      top: auto;
      bottom: 0;
      @include clip-edge($edge: left, $height: 200vh);
      width: 50%;
      height: 200vh;
      background-color: var(--secondary-color);
    }
  }
}
.content-block {
  @include content-block($padding: standard);
  min-height: var(--block-height, auto);
}
.content-block--extra-pad {
  @include content-block($padding: extra);
  min-height: var(--block-height, auto);
}
.content-block--row {
  @include content-block($padding: standard, $flex: row);
  min-height: var(--block-height, auto);
}

.v-space-narrow {
  > * {
    margin-bottom: 2rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.v-space-normal {
  > * {
    margin-bottom: 3rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
  @include bp(1200) {
    > * {
      margin-bottom: 5rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
.v-space-wide {
  > * {
    margin-bottom: 4rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
  @include bp(1200) {
    > * {
      margin-bottom: 6rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  @include bp(1600) {
    > * {
      margin-bottom: 8rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
.centered {
  justify-content: center;
  align-items: center;
}
.v-centered {
  justify-content: center;
}
.headline-container {
  position: relative;
}
.title-reveal {
  position: relative;
  .copy-line {
    @include bp(1024) {
      overflow: hidden;
    }
  }
  .word {
    display: inline-block;
    opacity: 0;
  }
  &.is-inview .word {
    animation: slide-in-words 0.8s $easing both;
    animation-delay: calc(20ms * var(--word-index));
  }
  .page-hero-container & {
    &.is-inview .word {
      animation-delay: calc(20ms * var(--word-index) + 0.75s);
    }
  }
}

.cta-centred-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.clip-right {
  @include clip-edge(right);
}
.clip-left {
  @include clip-edge(left);
}
.clip-both {
  @include clip-edge(both);
}
.white-bg {
  background: #fff;
}

.texture-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;

  .inner-texture {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background: var(--primary-color) var(--bg-texture);
    background-blend-mode: screen;
    background-attachment: local;
    /* -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d; */
  }
  &.parallax {
    height: 150%;
    top: -50%;
    .cta-block & {
      height: 160%;
      top: -80%;
    }
  }
  &.cover {
    .inner-texture {
      opacity: 0.5;
    }
  }
}
// this should do it
.is-mobile .texture-wrapper.parallax,
.is-mobile .cta-block > .texture-wrapper.parallax {
  height: 100%;
  top: 0;
}

.texture-pull-left {
  position: absolute;
  left: 0;
  top: 0;
  @include clip-edge($edge: right, $height: 100vh);
  width: 10%;
  height: 100vh;
  overflow: hidden;
  .inner-texture {
    background: var(--primary-color) var(--bg-texture);
    .full-color & {
      background: var(--secondary-color) var(--bg-texture);
    }
  }
}

.texture-pull-right {
  position: absolute;
  right: 0;
  top: auto;
  bottom: 0;
  @include clip-edge($edge: left, $height: 100vh);
  width: 10%;
  height: 100vh;
  will-change: transform;
  overflow: hidden;
  .inner-texture {
    background: var(--secondary-color) var(--bg-texture);
  }
  .img-promo.white-bg.img-right & {
    @include bp(1024) {
      width: 5%;
    }
  }
}

.section-container.full-color > .inner-texture {
  opacity: 0.5;
}

.flex--centred {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-centred {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  @include bp(768) {
    margin-top: 140px;
  }
  a {
    transform: translateY(100px);
    opacity: 0;
    transition: opacity 0.6s $easing, transform 0.8s $easing;
  }
  &.is-inview a {
    transform: translateY(0);
    opacity: 1;
  }
}

.section-hero-image-wrapper {
  position: relative;
  display: inline-block;
  margin: 0;
  width: 100%;
  height: 50vh;
  transition: opacity 1s ease;
  overflow: hidden;
  opacity: 0;
  @include bp(768) {
    height: 40vh;
  }

  @include bp(1024) {
    position: absolute;
    @include clip-edge(left, 50vh);
    height: 50vh;
    width: 40%;
    left: 60%;
    &.full-height {
      @include clip-edge(left, 100vh);
      height: 100vh;
      width: 50%;
      left: 50%;
    }
    &.pull-left {
      @include clip-edge(right, 100vh);
      left: 0;
      right: auto;
    }
  }
  &.is-inview {
    opacity: 1;
  }
  .section-hero-image {
    @include abs100();
    img {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &.parallax-image {
      top: -10%;
      height: 110%;
      img {
        will-change: transform;
      }
    }
  }
}

.image-inner {
  @include abs100();
  background-size: cover;
  background-position: center;
}

.scroll-prompt {
  position: absolute;
  left: 0;
  bottom: 30px;
  width: 100%;
  overflow: visible;
  display: flex;
  justify-content: center;
  z-index: 10;
  @include reveal-slide-up-fade;
  span {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include bp(1400) {
      width: 4vw;
      height: 4vw;
    }
    svg {
      width: 1rem;
      fill: #fff;
    }
  }
  &.mono {
    span {
      background-color: #fff;
      svg {
        fill: #000;
      }
    }
  }
  &.is-inview {
    transition-delay: 2s;
  }
}

.reveal {
  @include reveal-slide-up-fade;
}
.reveal-slide-in {
  transform: translateX(200px);
}
.texture-pull-left.reveal-slide-in {
  transform: translateX(-200px);
}
.texture-pull-right.reveal-slide-in {
  transform: translateX(200px);
}
.reveal-slide-in {
  transition: opacity 1.6s $easing, transform 1.6s $easing;
  opacity: 0;
  &.is-inview {
    opacity: 1;
    transform: translateX(0);
  }
  .page-hero-container & {
    transition-delay: 1s;
  }
}

.icon-list-container {
  position: relative;
  width: 100%;
  display: flex;
  margin-bottom: 6rem;

  .icon-lockup {
    list-style: none;
    // margin-bottom: 2rem;
    // replaced by row gap
    @include reveal-slide-up-fade();
    @include stagger-children(
      $prop: transition,
      $children: 4,
      $delay: 0,
      $stagger: 0.2
    );
    * {
      margin-bottom: 1rem;
    }
    .icon-lockup-title {
      color: var(--primary-color);
    }
    &:last-child {
      margin-bottom: 0;
    }
    @include bp(768) {
      margin-bottom: 0;
    }
  }
  .icon-lockup-icon {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
    background-size: contain;
  }
}

.client-logo-grid {
  position: relative;
  width: 100%;
  max-width: 2000px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  gap: 40px 50px;
  padding: 0 20px;
  @include reveal-slide-up-fade();
  @include bp(768) {
    gap: 40px 40px;
    grid-template-columns: repeat(5, 1fr);
  }
  @include bp(1024) {
    grid-row-gap: 3rem;
  }
  @include bp(1200) {
    gap: 3rem 4rem;
    padding: 0 3rem;
  }
  @include bp(1400) {
    gap: 3.5rem 6rem;
  }
  @include bp(1600) {
    gap: 5rem 8rem;
    padding: 0 4rem;
  }
  @include bp(1920) {
    gap: 5rem 10rem;
    padding: 0 6rem;
  }
  .client-logo {
    background-color: var(--primary-color);
    object-fit: contain;
    margin: 0;
    img {
      max-width: 90%;
      @include bp(768) {
        max-width: 100%;
      }
      @include bp(1024) {
        width: 100px;
      }
      @include bp(1200) {
        width: 120px;
      }
      @include bp(1600) {
        width: 130px;
      }
      @include bp(1800) {
        width: 140px;
      }
    }
    .white-bg & {
      background-color: #fff;
      img {
        mix-blend-mode: normal;
      }
    }
  }
}

.horizontal-list-lockup {
  margin-bottom: 3rem;
  @include bp(1024) {
    display: flex;
  }
  &:last-child {
    margin-bottom: 0;
  }
  .philanthropy-list-container & {
    @include bp(768) {
      align-items: center;
    }
  }
  .partner-url {
    display: inline-block;
    text-decoration: none;
    margin-bottom: 1rem;
    &:hover > * {
      color: var(--secondary-color);
    }
  }
}
.list-item-logo {
  img {
    max-width: 100%;
    width: 140px;
  }
  a {
    display: block;
    margin: 0;
  }
}

.contacts-container {
  h3,
  li,
  a,
  p {
    font-size: 1.125rem;
    line-height: 1.375;
    @include bp(1200) {
      font-size: 1.25rem;
    }
  }
  .email {
    display: inline-block;
    padding-bottom: 0.25rem;
  }
  h6 {
    color: var(--secondary-color);
    font-weight: 700;
  }
  .infos {
    margin-bottom: 2rem;
  }
}
