:root {
  --dark-blue: #00304d;
  --teal: #039fa0;
  --dark-teal: #00787c;
  --bright-green: #c8c143;
  --violet: #71266c;
  --dark-orange: #e23d2a;
  --anthracite: #212a33;
  --slate: #477e9f;
  --midnight: #000846;
  --brown: #b05120;
  --tex-beehive: url("~/assets/tex-beehive.jpg") repeat 0/130px;
  --tex-fossil: url("~/assets/tex-fossil.jpg") repeat 0/175px;
  --tex-fusion: url("~/assets/tex-fusion.jpg") repeat 0/300px;
  --tex-cells: url("~/assets/tex-cells.jpg") repeat 0/180px;
  --tex-circuit: url("~/assets/tex-circuit.jpg") repeat 0/150px;
  --tex-herringbone: url("~/assets/tex-herringbone.jpg") repeat 0/300px;
  --tex-leaf: url("~/assets/tex-leaf.jpg") repeat 0/130px;
  --tex-waves: url("~/assets/tex-waves.jpg") repeat 0/120px;
  --default-texture: var(--tex-beehive);
  --bg-texture: var(--default-texture);
  --default-primary: var(--dark-blue);
  --default-secondary: var(--teal);
  --primary-color: var(--default-primary);
  --secondary-color: var(--default-secondary);
}

// ==========================================================================
// grid
// ==========================================================================

html,
body {
  width: 100%;
}

// trying svg mask. No perf improvements
/* #clipping-mask {
  position: absolute;
  display: hidden;
  width: 100%;
} */
.page-wrapper {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.page-inner-wrapper {
  max-width: 100%;
}

.section-container {
  @include section-container();
  &.full-color {
    background-color: var(--primary-color);
    color: #fff;
  }
}

.page-hero-container {
  @include section-container();
  height: 100vh;
  background-color: var(--primary-color);
  color: #fff;
  .texture-pull-right {
    position: absolute;
    right: -30%;
    top: 0;
    @include clip-edge($edge: left, $height: 100vh);
    width: 50%;
    height: 100vh;
    background-color: var(--secondary-color);
  }
  > .inner-texture {
    opacity: 0.5;
  }
  &.x2-h {
    flex-direction: column;
    height: 200vh;
    .texture-pull-right {
      position: absolute;
      right: -20%;
      top: auto;
      bottom: 0;
      @include clip-edge($edge: left, $height: 200vh);
      width: 50%;
      height: 200vh;
      background-color: var(--secondary-color);
    }
  }
}
.content-block {
  @include content-block($padding: standard);
  height: var(--block-height, auto);
}
.content-block--extra-pad {
  @include content-block($padding: extra);
  height: var(--block-height, auto);
}
.content-block--row {
  @include content-block($padding: standard, $flex: row);
  height: var(--block-height, auto);
}

.v-space-narrow {
  > * {
    margin-bottom: 2rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.v-space-normal {
  > * {
    margin-bottom: 5rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.v-space-wide {
  > * {
    margin-bottom: 8rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.centered {
  justify-content: center;
  align-items: center;
}
.v-centered {
  justify-content: center;
}
.headline-container {
  position: relative;
}
.title-reveal {
  position: relative;
  .copy-line {
    overflow: hidden;
  }
  .word {
    display: inline-block;
    opacity: 0;
  }
  &.is-inview .word {
    animation: slide-in-words 0.8s $easing both;
    animation-delay: calc(20ms * var(--word-index));
  }
  .page-hero-container & {
    &.is-inview .word {
      animation-delay: calc(20ms * var(--word-index) + 0.75s);
    }
  }
}

.cta-centred-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.clip-right {
  @include clip-edge(right);
}
.clip-left {
  @include clip-edge(left);
}
.clip-both {
  @include clip-edge(both);
}
.white-bg {
  background: #fff;
}

.inner-texture {
  position: absolute;
  width: 120%;
  height: 160%;
  left: -10%;
  right: -10%;
  top: -30%;
  bottom: 0;
  background: var(--bg-texture);
  mix-blend-mode: screen;
  transform: translateZ(0);
  will-change: transform;
}
.texture-pull-left {
  position: absolute;
  left: -90%;
  top: 0;
  @include clip-edge($edge: right, $height: 100vh);
  width: 100%;
  height: 100vh;
  background-color: var(--primary-color);
  // clip-path: url(#clip);
  will-change: transform;
  overflow: hidden;
  .full-color & {
    background-color: var(--secondary-color);
  }
}

.section-container.full-color > .inner-texture {
  opacity: 0.5;
}

.cta-block > .inner-texture {
  height: 200%;
  top: -100%;
}

.texture-pull-right {
  position: absolute;
  right: -36%;
  top: auto;
  bottom: 0;
  @include clip-edge($edge: left, $height: 100vh);
  width: 50%;
  height: 100vh;
  background-color: var(--secondary-color);
  will-change: transform;
  // clip-path: url(#clip);
  overflow: hidden;
  .cta-block & {
    right: -40%;
  }
}

.flex--centred {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-centred {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  @include bp(768) {
    margin-top: 140px;
  }
  a {
    transform: translateY(100px);
    opacity: 0;
    transition: opacity 0.6s $easing, transform 0.8s $easing;
  }
  &.is-inview a {
    transform: translateY(0);
    opacity: 1;
  }
}

.section-hero-image-wrapper {
  position: relative;
  display: inline-block;
  left: 0;
  top: 0;
  width: 100%;
  height: 50vh;
  @include clip-edge(right, 50vh);
  transition: opacity 1s ease;
  overflow: hidden;
  opacity: 0;

  @include bp(768) {
    position: absolute;
    left: 10%;
    width: 90vw;
  }
  @include bp(1024) {
    @include clip-edge(left, 50vh);
    height: 50vh;
    width: 40%;
    left: 60%;
  }
  &.is-inview {
    opacity: 1;
  }
  .section-hero-image-inner {
    @include abs100();
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.image-inner {
  @include abs100();
  background-size: cover;
  background-position: center;
}

.logo-corner-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 20vw;
  margin: 15px 0 0 20px;
  transition: opacity 0.6s ease;
  @include bp(768) {
    margin: 20px 0 0 30px;
    width: 140px;
  }
  @include bp(1200) {
    margin: 0;
    padding: 1.4rem 10vw 0 1.5vw;
    height: 100vh;
    width: 25vw;
  }
  @include bp(1200) {
    padding: 1.4rem 3vw 0 1.5vw;
    height: 100vh;
    width: 10vw;
  }
  a {
    position: relative;
    width: 100%;
  }
  svg {
    width: 100%;
    fill: $white;
    @include bp(1200) {
      fill: $black;
    }
  }
  @include bp(1200) {
    &:before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background: #fff;
      @include clip-edge(right, 100vh);
      // transform: skew(-20deg);
    }
  }
}

.scroll-prompt {
  position: absolute;
  left: 0;
  bottom: 30px;
  width: 100%;
  overflow: visible;
  display: flex;
  justify-content: center;
  z-index: 10;
  @include reveal-slide-up-fade;
  span {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include bp(768) {
      width: 60px;
      height: 60px;
    }
    @include bp(1400) {
      width: 4vw;
      height: 4vw;
    }
    svg {
      fill: #fff;
    }
  }
  &.mono {
    span {
      background-color: #fff;
      svg {
        fill: #000;
      }
    }
  }
  &.is-inview {
    transition-delay: 2s;
  }
}

.reveal {
  @include reveal-slide-up-fade;
}
.reveal-slide-in {
  transform: translateX(200px);
}
.texture-pull-left.reveal-slide-in {
  transform: translateX(-200px);
}
.texture-pull-right.reveal-slide-in {
  transform: translateX(200px);
}
.reveal-slide-in {
  transition: opacity 1.6s $easing, transform 1.6s $easing;
  opacity: 0;
  &.is-inview {
    opacity: 1;
    transform: translateX(0);
  }
}

.icon-list-container {
  position: relative;
  width: 100%;
  display: flex;
  margin-bottom: 6rem;

  .icon-lockup {
    list-style: none;
    margin-bottom: 2rem;
    @include reveal-slide-up-fade();
    @include stagger-children(
      $prop: transition,
      $children: 4,
      $delay: 0,
      $stagger: 0.2
    );
    * {
      margin-bottom: 1rem;
    }
    .icon-lockup-title {
      color: var(--primary-color);
    }
    &:last-child {
      margin-bottom: 0;
    }
    @include bp(768) {
      margin-bottom: 0;
    }
  }
  .icon-lockup-icon {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
    background-size: contain;
  }
}

.client-logo-grid {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-row-gap: 5rem;
  justify-items: center;
  align-items: center;
  @include reveal-slide-up-fade();
  .client-logo {
    background-color: var(--primary-color);
    img {
      width: 100%;
      max-width: 140px;
      max-height: 100px;
      width: auto;
      height: auto;
    }
    .white-bg & {
      background-color: #fff;
      img {
        mix-blend-mode: normal;
      }
    }
  }
}

.horizontal-list-lockup {
  display: flex;
  margin-bottom: 3rem;
  &:last-child {
    margin-bottom: 0;
  }
  .partners-content &,
  .philanthropy-list-container & {
    align-items: center;
  }
}
.list-item-logo {
  img {
    max-width: 100%;
  }
}

.contacts-container {
  h3,
  li,
  a,
  p {
    font-size: 1.25rem;
  }
  h6 {
    color: var(--secondary-color);
    font-weight: 700;
    margin-bottom: 0;
  }
  .infos {
    margin-bottom: 2rem;
  }
}
