html {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 2rem;
  line-height: 1.5;
}

ul,
ol,
li,
dd,
p,
figure,
pre,
table,
fieldset,
hr {
  margin-bottom: 1rem;
  line-height: 1.5;
}

.intro-text-lockup > * {
  margin-bottom: 3rem;
}

h1 {
  font-weight: 700;
  font-size: 9vw;
  line-height: 1.5;
  @include bp(768) {
    font-size: 7vw;
  }
  @include bp(1024) {
    font-size: 4vw;
  }
  @include bp(1200) {
    font-size: 2.6rem;
  }
  @include bp(1400) {
    font-size: 3.2rem;
  }
  @include bp(1600) {
    font-size: 4.2rem;
  }
  @include bp(1920) {
    font-size: 4vw;
  }
  strong {
    font-weight: 700;
  }
  .copy-line {
    display: inline;
    &:before {
      content: " ";
    }
    @include bp(768) {
      display: block;
      &:before {
        content: none;
      }
    }
  }
}

h2 {
  font-weight: 700;
  font-size: 9vw;
  line-height: 1.5;
  @include bp(768) {
    font-size: 7vw;
  }
  @include bp(1024) {
    font-size: 4vw;
  }
  @include bp(1200) {
    font-size: 2.75rem;
  }
  @include bp(1400) {
    font-size: 3rem;
  }
  @include bp(1600) {
    font-size: 3.5rem;
  }
  @include bp(1920) {
    font-size: 4rem;
  }
  strong {
    font-weight: 700;
  }
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
// ==========================================================================
// Section labels h6
// ==========================================================================

h6 {
  font-size: 1rem;
  display: flex;
  align-items: center;
  width: 100%;
  color: var(--primary-color);
  @include reveal-slide-up-fade;
  &:after {
    content: "";
    position: relative;
    border-top: 1px solid var(--primary-color);
    height: 1px;
    flex-grow: 1;
    margin-left: 1rem;
  }
  &.full-width {
    width: 100%;
    &:after {
      content: "";
      position: relative;
      border-top: 1px solid $black;
      height: 1px;
      display: inline-block;
      width: auto;
      margin-left: 1rem;
      flex-grow: 1;
    }
  }
  .full-color & {
    color: #fff;
    &:after {
      border-top: 1px solid #fff;
    }
  }
}

p,
a,
li {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.75;
}

p.callout {
  font-size: 2.5rem;
  font-weight: 200;
  @include reveal-slide-up-fade;
}
