html {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include bp(1920) {
    font-size: 112.5%;
  }
  @include bp(2500) {
    font-size: 125%;
  }
}

h1,
h2 {
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 1rem;
  @include bp(768) {
    margin-bottom: 2rem;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
h3,
h4,
h5,
h6,
ul,
ol,
li,
dd,
p,
figure,
pre,
table,
fieldset,
hr {
  margin-bottom: 1rem;
  line-height: 1.5;
  &:last-child {
    margin-bottom: 0;
  }
}
li {
  list-style: none;
}

.intro-text-lockup {
  & > * {
    margin-bottom: 3rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.intro-col {
  // margin-bottom: 1rem;
  @include bp(1024) {
    margin-bottom: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

h1 {
  font-size: 9vw;
  @include bp(768) {
    font-size: 7vw;
  }
  @include bp(1024) {
    font-size: 4.25vw;
  }
  @include bp(1920) {
    font-size: 4vw;
  }
  @include bp(2200) {
    font-size: 3.5vw;
  }
  @include bp(2500) {
    font-size: 4.5rem;
  }
  .copy-line {
    display: inline;
    &:before {
      content: " ";
    }
    @include bp(1024) {
      display: block;
      &:before {
        content: none;
      }
    }
  }
}

h2 {
  font-size: 9vw;
  @include bp(768) {
    font-size: 5vw;
  }
  @include bp(1024) {
    font-size: 4vw;
  }
  @include bp(1200) {
    font-size: 2.75rem;
  }
  @include bp(1400) {
    font-size: 3rem;
  }
  @include bp(1600) {
    font-size: 3.5rem;
  }
  @include bp(1920) {
    font-size: 3.625rem;
  }
}

.ancillary.page-wrapper {
  .ancillary-container {
    padding-top: 10vh;
  }
  h1 {
    font-size: 2rem;
    @include bp(1200) {
      font-size: 3rem;
    }
  }
  h2 {
    font-size: 1.75rem;
  }
  h3 {
    font-size: 1.5rem;
  }
}

h3 {
  font-size: 1.5rem;
  @include bp(1400) {
    font-size: 2rem;
  }
  .cta-block & {
    font-weight: 400;
    font-size: 1.75rem;
    text-align: center;
    @include bp(1200) {
      font-size: 2rem;
    }
    @include bp(1400) {
      font-size: 2.5rem;
    }
    @include bp(1920) {
      font-size: 3rem;
    }
  }
}

h4 {
  color: var(--primary-color, #000);
  font-size: 1.25rem;
  @include bp(1400) {
    font-size: 1.5rem;
  }
}
h5 {
  font-size: 1rem;
  @include bp(1200) {
    font-size: 1.25rem;
  }
}
// ==========================================================================
// Section labels h6
// ==========================================================================

h6 {
  font-size: 0.875rem;
  @include bp(1200) {
    font-size: 1rem;
  }
  &.section-label {
    display: flex;
    align-items: center;
    color: var(--primary-color);
    &:after {
      content: "";
      position: relative;
      border-top: 1px solid var(--primary-color);
      height: 1px;
      flex-grow: 1;
      margin-left: 1rem;
    }
    &.full-width {
      width: 100%;
      &:after {
        content: "";
        position: relative;
        border-top: 1px solid $black;
        height: 1px;
        display: inline-block;
        width: auto;
        margin-left: 1rem;
        flex-grow: 1;
      }
    }
    .full-color &,
    .page-hero-container & {
      color: #fff;
      &:after {
        border-top: 1px solid #fff;
      }
    }
    .white-bg & {
      color: var(--secondary-color);
      &:after {
        border-color: var(--secondary-color);
      }
    }
  }
}

p,
a,
li,
button {
  color: #000;
  font-weight: 400;
  @include bp(768) {
    font-size: 1.25rem;
    line-height: 1.5;
  }
  @include bp(1920) {
    font-size: 1.5rem;
  }
  @include bp(2600) {
    font-size: 1.75rem;
  }
  .case-study-container & {
    font-size: 1.125rem;
  }
  .full-color & {
    color: #fff;
  }
  strong {
    font-weight: 600;
  }
}

p a {
  &:hover {
    color: var(--primary-color);
  }
}

p.intro-lg,
.intro-lg p {
  color: var(--primary-color);
  font-weight: 300;
  font-size: 1.5rem;
  &:first-child {
    margin-top: -0.375rem;
  }
  @include bp(768) {
    font-size: 1.75rem;
  }
  @include bp(1200) {
    font-size: 2rem;
  }
  @include bp(1400) {
    font-size: 2.25rem;
  }
  @include bp(1800) {
    font-size: 2.5rem;
  }
}

p.callout,
.callout p {
  font-size: 1.75rem;

  @include bp(1200) {
    font-size: 2rem;
  }
  @include bp(1400) {
    font-size: 2.25rem;
  }
  @include bp(1800) {
    font-size: 2.5rem;
  }
  font-weight: 300;
  .white-bg & {
    color: var(--primary-color);
  }
}
