footer {
  position: relative;
  width: 100%;
  display: flex;
  padding: 4rem 10%;
  color: #fff;
  overflow: hidden;
  background-color: var(--primary-color);
}

.footer-main {
  position: relative;
  display: flex;
  flex-direction: column;
  h6 {
    color: var(--secondary-color);
    &:after {
      border-top: 1px solid var(--secondary-color);
    }
  }
  ul {
    display: flex;
  }
  li {
    margin-left: 2rem;
    list-style: none;
    &:first-child {
      margin: 0;
    }
    a {
      text-decoration: none;
      color: #fff;
      font-size: 1.125rem;
      &:hover {
        color: var(--secondary-color);
        text-decoration: underline;
      }
    }
  }
  .footer-contacts-container {
    position: relative;
    display: flex;
    .footer-contacts-item {
      margin-left: 2rem;
      &:first-child {
        margin: 0;
      }
    }
  }
}
