footer {
  position: relative;
  width: 100%;
  display: flex;
  color: #fff;
  overflow: hidden;
  background-color: var(--primary-color);
  min-height: 420px;
  .logo-texture-lockup {
    position: absolute;
    width: 160px;
    height: 100%;
    right: 0;
    bottom: 0;
    @include bp(1024) {
      width: 220px;
      top: 0;
      bottom: auto;
    }
    @include bp(1400) {
      width: 350px;
    }
  }
  .texture-pull-right {
    width: 100%;
    right: auto;
  }
  .footer-logo {
    position: absolute;
    width: 100px;
    bottom: 48px;
    right: 12px;
    a {
      display: block;
      z-index: 10;
    }
    svg {
      fill: #fff;
    }
    @include bp(1024) {
      top: 48px;
      bottom: auto;
      left: 45px;
      right: auto;
      width: 140px;
    }
    @include bp(1400) {
      top: 64px;
      left: 16px;
      width: 180px;
    }
    @include bp(1920) {
      top: 64px;
      left: 32px;
      width: 180px;
    }
    @include bp(2400) {
      top: 64px;
      left: 12px;
      width: 240px;
    }
  }
}

.footer-main,
.footer-contacts,
.footer-nav {
  & > * {
    margin-bottom: 1rem;
  }
}

.contacts-item,
.footer-nav {
  li,
  a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    @include bp(1200) {
      font-size: 1.125rem;
    }
    &:hover,
    &.nuxt-link-exact-active {
      color: var(--secondary-color) !important;
      text-decoration: underline;
    }
    &:visited {
      color: inherit;
    }
    &:focus {
      color: var(--secondary-color);
    }
  }
}

.footer-main {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 75%;
  max-width: 1700px;
  @include footer-padding();
  padding-bottom: 10px;
  @include bp(768) {
    width: 100%;
  }
  @include bp(1200) {
    width: 66.66%;
  }
  h6 {
    color: var(--secondary-color);
    &:after {
      border-top: 1px solid var(--secondary-color);
    }
  }
  ul {
    @include bp(1024) {
      display: flex;
      justify-content: space-between;
    }
  }
  li {
    // margin-left: 2rem;
    list-style: none;
  }
  .footer-nav {
    flex-basis: 100%;
    @include bp(768) {
      flex-basis: 46%;
    }
    @include bp(1024) {
      flex-basis: 100%;
    }
  }
  .footer-contacts-container {
    flex-basis: 100%;
    @include bp(768) {
      flex-basis: 46%;
    }
    @include bp(1024) {
      flex-basis: 100%;
    }
  }
  .footer-contacts-inner {
    position: relative;
    @include bp(1024) {
      display: flex;
      & > * + * {
        margin-left: 3rem;
      }
    }
    .contacts-item {
      li,
      a,
      p {
        color: #fff;
        font-size: 1rem;
        @include bp(1200) {
          font-size: 1.125rem;
        }
      }
      @include bpMax(1200) {
        * + * {
          margin-top: 0.5rem;
        }
      }
      h6 {
        color: #fff;
        font-weight: 500;
        margin-bottom: 0;
      }
      .infos {
        margin-bottom: 2rem;
      }
      &:first-child {
        margin: 0;
      }
    }
  }
  .footer-legals {
    .legal-links-menu {
      @include bp(768) {
        display: flex;
        margin-bottom: 0;
        & > * + * {
          margin-left: 1rem;
        }
      }
    }
    li,
    a,
    p {
      font-size: 0.875rem;
      @include bp(1200) {
        font-size: 1rem;
      }
      color: var(--secondary-color);
    }
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    margin-top: auto;
  }
}
