.intro__video-modal {
  @include abs100();
  position: fixed;
  z-index: 100;
  background-color: #fff;
}

.intro__close-btn {
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  border-radius: 50%;
  display: block;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  background: #fff;
  span {
    display: block;
    width: 2rem;
    height: 0.25rem;
    margin-bottom: 0.5rem;
    position: relative;
    background: #000;
    border-radius: 0.125rem;
    z-index: 21;
    transform-origin: 50% 50%;
    transform: translate(0, 6px) rotate(45deg);
    &:last-child {
      margin-bottom: 0;
      width: 2rem;
      transform: translate(0, -6px) rotate(-45deg);
    }
  }
}

.intro__sound-btn {
  position: absolute;
  width: 4rem;
  height: 4rem;
  padding: 14px;
  border-radius: 50%;
  display: block;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  background: #000;
  bottom: 1rem;
  left: 1rem;
  display: flex;
  align-items: center;
  @include bp(768) {
    bottom: 30px;
    left: 30px;
  }
  @include bp(1200) {
    bottom: 30px;
    left: 60px;
  }
  svg {
    fill: #fff;
  }
  .speaker-icon {
    position: relative;
    width: 1rem;
  }
  .audio-off {
    position: absolute;
    display: inline-block;
    left: 32px;
    width: 14px;
    height: 18px;
    background: url("~/assets/audio_off.svg") no-repeat center/contain;
    transform-origin: center;
    transform: translateX(-10px);
    opacity: 0;
    transition: all 0.5s ease;
    &.on {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .audio-on {
    position: absolute;
    display: inline-block;
    left: 36px;
    width: 12px;
    height: 12px;
    background: url("~/assets/audio_on.svg") no-repeat center/contain;
    transform-origin: center;
    transform: translateX(-15px) scaleX(0.8);
    opacity: 0;
    transition: all 0.5s ease;
    &.on {
      transform: translateX(0) scaleX(1);
      opacity: 1;
    }
  }
}
